/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background-color: #FAD961;
  color: #333;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}

.navbar {
  background-color: #FFD700 !important;
  font-family: 'Quicksand', sans-serif;
  font-weight:bold;
}

.navbar-brand, .navbar-text, .nav-link, .btn {
  color: white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.btn-primary {
  background-color: #FF6F61;
  border: none;
}

.btn-primary:hover {
  background-color: #FF8563;
}

.btn-secondary {
  background-color: #4CAF50;
  border: none;
}

.btn-secondary:hover {
  background-color: #45A049;
}

.card {
  background-color: #FFF3E0;
  border: none;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: #333;
}

.page-item.active .page-link {
  background-color: #FF6F61;
  border-color: #FF6F61;
}

.modal-content {
  background-color: #FFF3E0;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-title {
  font-weight: bold;
}

.ml-auto {
  margin-left: auto;
}
