/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  background-color: #FAD961;
  color: #333;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #FFD700 !important;
  font-family: 'Poppins', sans-serif;
}

.navbar-brand, .navbar-text, .nav-link, .btn {
  color: white !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.btn-primary {
  background-color: #FF6F61;
  border: none;
}

.btn-primary:hover {
  background-color: #FF8563;
}

.btn-success {
  background-color: #28a745;
  border: none;
  color: white;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-secondary {
  background-color: #6c757d;
  border: none;
  color: white;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.card {
  background-color: #FFF3E0;
  border: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100vw;
  max-width: 100%;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: #333;
}

.page-item.active .page-link {
  background-color: #FF6F61;
  border-color: #FF6F61;
}

.modal-content {
  background-color: #FFF3E0;
}

.modal-header, .modal-footer {
  border: none;
}

.modal-title {
  font-weight: bold;
}

.ml-auto {
  margin-left: auto;
}

.form-group {
  margin-bottom: 1.5rem;
}

.input-group {
  margin-bottom: 1rem;
}

.answer-summary {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.answer-summary div {
  font-size: 1.2em;
  font-weight: bold;
}

.info-punishment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #FFF3E0;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
